#App {
    /*text-align: center;*/
    padding: 20px;
  }
  #ul1{

      width: 75px;

  }
  ul{
      /*margin: 0 auto;*/
      margin-left: 120px;
  }
  #p1{
    text-align: center;
  }
  #part1{
    padding: 0px;
  }

  